[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
hyperopt = "*"
xgboost = "*"
psycopg = "*"
psycopg-binary = "*"
evidently = "*"
mlflow = "*"
jupyter = "*"
seaborn = "*"
matplotlib = "*"
prefect = "*"
tqdm = "*"
requests = "*"
joblib = "*"
pyarrow = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.12"
